@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --header-height: 3.5rem;
    --body-font: 'Roboto', sans-serif;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--body-font);
    padding-top: 3.5rem;
}

.container {
    max-width: 1023px;
    margin-inline: 1.5rem;
}

.section {
    padding-block: 4rem 2rem;
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    color: #141414;
    text-transform: uppercase;
    font-weight: 500;
}

.nav__buttons {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.nav__toggle {
    font-size: 1.25rem;
    color: #141414;
    display: inline-flex;
    cursor: pointer;
}

.cart__button {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
    color: #141414;
}

@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        width: 75%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: #fff;
        padding-block: 9rem 2rem;
        box-shadow: 0 4px 15px 0 #6b6b6b18;
        transition: right .4s;
        z-index: 100;
    }
}

.nav__close {
    font-size: 1.5rem;
    color: #141414;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    transition: color .3s;
    color: #141414;
    font-weight: 400;
}

.nav__link:hover {
    color: #000000;
}

.cart__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: #ffff;
    z-index: 100;
    padding: 4rem 1.5rem;
    box-shadow: 0 4px 15px 0 #6b6b6b18;
    transition: right .4s;
}

.cart-icon-circle {
    position: relative;
}

#cart-count-info {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -.7rem;
    top: -.5rem;
    padding: .5rem;
    background-color: green;
    color: #fff;
    font-size: .75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart__top-title {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: #141414;
}

.cart__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #141414;
    cursor: pointer;
}

.cart__menu-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    bottom: 0;
    width: 100%;
    padding: 2rem 1rem;
    left: 0;
    background-color: #fff;
}

#cart-total-value {
    font-weight: 700;
    color: #141414;
}

.show-menu {
    right: 0;
}

.show-cart {
    right: 0;
}

.furniture__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 1.5rem;
}

.furniture__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 32px;
    color: #141414;
    font-weight: 700;
}

.furniture__description {
    font-size: .874rem;
    line-height: 21px;
    color: #525252;
    margin-bottom: 3rem;
}

.container__data {
    max-width: 400px;
}

.grid-2 {
    display: grid;
    justify-content: center;
}

.furniture__card {
    display: grid;
    position: relative;
    width: 142px;
    height: 246;
    padding: 1.5rem 1rem 2.5rem;
    box-shadow: 0px 0px 20px #44444413;
    border-radius: .5rem;
}

.furniture__card img {
    width: 90px;
    justify-self: center;
    margin-bottom: .8rem;
}

.furniture__card-name {
    color: #141414;
    margin-bottom: .25rem;
}

.furniture__card-category {
    font-size: .75rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.furniture__card-price {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: #000000;
}

.button {
    bottom: 0;
    right: 0;
    background-color: green;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    padding: .5rem;
    border-radius: .5rem 0 .5rem 0;
}

.button i {
    color: #fff;
    font-size: 1.25rem;
}

.cart__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__card-content img {
    width: 56px;
}

.card__content-title {
    font-size: 1rem;
    color: #141414;
    margin-bottom: .25rem;
}

.card__content-category {
    font-size: .75rem;
    margin-bottom: .5rem;
}

.cart__card-content {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.card__content-price {
    font-weight: 700;
    color: #141414;
}

.cart__card-actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.cart-remove-button {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 4rem;
    cursor: pointer;
}

.cart__card-btns {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.add__button,
.subtract__button {
    cursor: pointer;
    display: inline-flex;
    padding: .25rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.cart__content {
    padding: 1rem 0;
    height: 600px;
    overflow-y: scroll;
    display: grid;
    row-gap: 2rem;
}

.scroll-header {
    box-shadow: 0 4px 15px #b6b6b617;
}

::-webkit-scrollbar {
    background-color: #f6f6f6;
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c9c9c9;
}

@media screen and (min-width: 576px) {
    .furniture__container {
        grid-template-columns: repeat(3, max-content);
    }

    .furniture__card {
        width: 160px;
    }

    .cart__menu {
        width: 70%;
    }
}

@media  screen and (min-width: 767px) {
    .furniture__container {
        grid-template-columns: repeat(4, max-content);
    }

    .furniture__card {
        width: 170px;
    }

    .cart__menu {
        width: 60%;
    }
}

@media screen and (min-width: 1023px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7.5rem 2rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .furniture__title {
        font-size: 3rem;
        line-height: 64px;
    }

    .furniture__description {
        font-size: 1rem;
        line-height: 24px;
    }

    .container__data {
        margin-bottom: 2rem;
    }

    .nav__list {
        flex-direction: row;
        align-items: center;
        column-gap: 3rem;
    }

    .nav__link {
        font-size: 1rem;
    }

    .cart__menu {
        width: 35%;
    }
}